In [1]:
# import required modules
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error
import pandas as pd
import numpy as np

In [2]:
hospital = pd.read_csv("HospitalCosts.csv")
column_name = list(hospital) #Extracting list of column names

In [3]:
def findLength(element):
    """
    Function to return the maximum length of an element in a column
    """
    return len(str(max(hospital[element])))


lengths = list(map(findLength,column_name))
print(lengths)

[2, 1, 2, 1, 5, 3]

In [4]:
def findDataTypes(element):
    """
    Function which returns the data type a column of a dataframe
    """
    return type((hospital[element][0]).item())

data_types = list(map(findDataTypes,column_name))

In [5]:
data_types

[int, int, int, int, int, int]

In [6]:
sql_data_types ={} # Creating a dictionary for SQL data types related to corresponding python classes 

for index,val in enumerate(data_types):
    if(val==int):
        sql_data_types[int]="INTEGER("+str(lengths[index])+")"
    if(val==float):
        sql_data_types[float]="FLOAT("+str(lengths[index])+",2)"
    if(val==str):
        sql_data_types[str]="VARCHAR("+str(lengths[index])+")"
sql_data_types

{int: 'INTEGER(3)'}

In [7]:
table_name =input("Enter Table name to be created: ") #taking table name as input

Enter Table name to be created: hospital

In [8]:
#Creating the column name and data type section of the query
column_query=""
for index in range(0,len(column_name)):
    if(index == (len(column_name)-1)):
        column_query = column_query + column_name[index] +" "+ sql_data_types[data_types[index]] 
    else:
        column_query = column_query + column_name[index] +" "+ sql_data_types[data_types[index]]+ ", "

In [9]:
column_query = "ID INT PRIMARY KEY AUTO_INCREMENT, "+column_query

In [10]:
#Creating query for table creation
create_query="CREATE TABLE "+table_name+" ("+column_query+")"+";"
create_query

'CREATE TABLE hospital (ID INT PRIMARY KEY AUTO_INCREMENT, AGE INTEGER(3), FEMALE INTEGER(3), LOS INTEGER(3), RACE INTEGER(3), TOTCHG INTEGER(3), APRDRG INTEGER(3));'

In [11]:
def remove_chars(column_name):
    column_name = str(column_name)
    column_name = column_name.replace('[','')
    column_name = column_name.replace(']','')
    column_name = column_name.replace('\'','')
    return column_name

In [12]:
#Insert data into table
def INSERT(table_name,column_name,row_values):
    #rem_char = remove_chars(column_name)
    insert_query = "INSERT INTO {} ({}) VALUES ({});".format(table_name,remove_chars(column_name),row_values)
    insert_query = insert_query.replace('[','')
    insert_query = insert_query.replace(']','')
    return insert_query

In [13]:
#create_query(table_name,column_name,row_values)

In [14]:
'''data =[]
for index in range(0,len(colname)):
    data.append(colname[index])
    data.append(dt_type[col_type[index]])'''

'data =[]\nfor index in range(0,len(colname)):\n    data.append(colname[index])\n    data.append(dt_type[col_type[index]])'

In [15]:
def create_connection():
    connection = None
    try:
        connection = mysql.connector.connect(
        host = input("Enter Hostname: "),
        user = input("Enter Username: "),
        passwd = getpass(),
        database = input("Enter Database: ")                       
        )
        print("Connection to MYSQL DB successful")
    except Error as e:
        print(f"The Error '{e}' ncountered ")
    return connection

In [16]:
connection = create_connection()

Enter Hostname: localhost
Enter Username: root
········
Enter Database: test
Connection to MYSQL DB successful

In [20]:
def run_query(connection,query):
    cursor=connection.cursor()
    cursor.execute(query)
    for ele in cursor:
        print(ele)
    connection.commit()
    cursor.close()

In [21]:
run_query(connection,create_query)

In [22]:
 
#run_query(connection,insert_query)
for index in range(0,len(hospital)):
    row_values = list(hospital.iloc[index])
    insert_query = INSERT(table_name,column_name,row_values)
    run_query(connection,insert_query)

In [23]:
def mysql_close(connection):
    connection.close()

In [24]:
mysql_close(connection)