In [1]:
# import required modules
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error
import pandas as pd
import numpy as np

In [3]:
hosp = pd.read_csv("HospitalCosts.csv")

In [4]:
colname = list(hosp) #list of column names

In [5]:
hosp.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [6]:
lengths =[] # maximum length of data in each field
for ele in colname:
    lengths.append(len(str(max(hosp[ele]))))
lengths

[2, 1, 2, 3, 5, 3]

In [7]:
#saving the data type of the columns/attributes of the dataset in a list
col_type = []
for ele in colname:
    col_type.append(type((hosp[ele][0]).item()))

In [71]:
dt_type ={} # Creating a dictionary for SWL data types related to corresponding python classes 

for i in range(0,len(col_type)):
    if(col_type[i] == int):
        dt_type[int]="INTEGER("+str(lengths[i])+")"
    if(col_type[i]==float):
        dt_type[float]="FLOAT("+str(lengths[i])+",2)"
    if(col_type[i] == str):
        dt_type[str]="VARCHAR("+str(lengths[i])+")"

In [58]:
tabl_name =input("Enter Table name to be created: ") #taking table name as input

Enter Table name to be created: hosp

In [66]:
#Creating the column and data type section of the query
l = len(colname) 
col_list_query=""
for index in range(0,l):
    if(index == 5):
        col_list_query = col_list_query + colname[index] +" "+ dt_type[col_type[index]] 
    else:
        col_list_query = col_list_query + colname[index] +" "+ dt_type[col_type[index]]+ ", "

In [67]:
col_list_query = "ID INT PRIMARY KEY AUTO_INCREMENT, "+ col_list_query

'ID INT PRIMARY KEY AUTO_INCREMENT, AGE INTEGER(3), FEMALE INTEGER(3), LOS INTEGER(3), RACE FLOAT(3,2), TOTCHG INTEGER(3), APRDRG INTEGER(3)'

In [68]:
#consolidating the query
create_query="CREATE TABLE "+tabl_name+" ("+col_list_query+")"

'CREATE TABLE hosp (ID INT PRIMARY KEY AUTO_INCREMENT, AGE INTEGER(3), FEMALE INTEGER(3), LOS INTEGER(3), RACE FLOAT(3,2), TOTCHG INTEGER(3), APRDRG INTEGER(3))'

In [52]:
'''data =[]
for index in range(0,len(colname)):
    data.append(colname[index])
    data.append(dt_type[col_type[index]])'''

In [54]:
def create_connection():
    connection = None
    try:
        connection = mysql.connector.connect(
        host = input("Enter Hostname: "),
        user = input("Enter Username: "),
        passwd = getpass(),
        database = input("Enter Database: ")                       
        )
        print("Connection to MYSQL DB successful")
    except Error as e:
        print(f"The Error '{e}' ncountered ")
    return connection

In [56]:
connection = create_connection()

Enter Hostname: localhost
Enter Username: root
········
Enter Database: test
Connection to MYSQL DB successful

In [57]:
def run_query(connection,query):
    cursor=connection.cursor()
    cursor.execute(query)
    for ele in cursor:
        print(ele)
    connection.commit()
    cursor.close()

In [70]:

#connection = create_connection()
run_query(connection,create_query)

In [ ]:
def mysql_close(connection):
    connection.close()

In [ ]:
mysql_close(connection)